/* Style général de la section */
.seo-text-container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    justify-items: center;
    gap: 0rem;
    padding: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Style pour chaque land */
  .land-section {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #a19300;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: #2727278c;
}

.infoUi {
  display: flex
;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.infoTextHoraire {
  color: aliceblue;
  font-size: x-small;
  display: flex;
  flex-direction: column;
}

.infoTextHoraire span {
  display: flex;
}

.text-green {
  color: #18cc63!important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-small;
}
.text-red {
  color: #f44336!important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-small;
}
.heureOC {
  color: rgb(245, 208, 0) !important;
  font-weight: bold;
  font-size: x-small;
}
.infoTextMaj {
  color: aliceblue;
  font-size: x-small;
  text-align: right;
}
  
  /* Style pour le nom du land */
  .land-name {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  /* Style pour chaque attraction */
  .ride-item {
    display: flex
;
    align-items: center;
    background-color: black;
    border-radius: 32px 15px 15px 32px;
    margin: 0.5rem;
    padding-left: 0px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    max-height: 64px;
}
  
  /* Style pour le cercle avec le temps d'attente */
  .wait-time-circle {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    border: 7px solid #f59f0b00;
    font-size:xx-large;
    font-weight: bold;
    min-width: 64px;
}
  
.ride-item.green {
  background-color: #18cc634f; /* Vert pour l'attente faible */
  color: #25e073;
}

.ride-item.yellow {
  background-color: #fdb8134f; /* Jaune-orange pour une attente moyenne */
  color: #fdb813;
}

.ride-item.red {
  background-color: #f443364f; /* Rouge pour une attente longue */
  color: #f44336;
}

.wait-time-circle.green {
  background-color: #18cc63;  /* Vert */
  border: 8px solid #18cc63;
}

.wait-time-circle.yellow {
  background-color: #fdb813;  /* Jaune-orange */
  border: 8px solid #fdb813;
}

.wait-time-circle.red {
  background-color: #f44336;  /* Rouge */
  border: 8px solid #f44336;
}

.gray {
  background-color: #6d6d6d71; /* Gris */
  color: #8a8a8a; /* Texte gris */
}

/* Optionnel : vous pouvez ajuster la couleur du texte pour un fond gris */
.wait-time-circle.gray {
  background-color: #727272af; /* Gris plus clair */
}
  
  /* Style pour le nom de l'attraction */
  
  .ride-name {
    font-size: 1.3rem;
    margin-left: 1rem;
    display: flex
;
    align-items: center;
  }
  
  /* Message de chargement */
  p {
    font-size: 1.25rem;
    color: #6b7280;
  }
  
  .contentRide {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 1vw;
}

  .contentRide img {
    height: 4vh;
  }

  @media (max-width: 768px) {
    .ride-name {
      font-size: 2.7vw;
      margin-left: 1rem;
      text-align: left;
      margin-right: 1rem;
  }
  .land-name {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.wait-time-circle {
  width: 39px;
  height: 39px;
  min-width: 39px;
  font-size: larger;
}
.seo-text-container {
  text-align: center;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  display: flex
;
  justify-items: center;
  gap: 0rem !important;
  padding: 0rem !important;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}
.land-section {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #a19300;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #2727278c;
}
.infoTextHoraire {
  color: aliceblue;
  font-size: x-small;
  display: flex;
}
.heureOC {
  color: white;
  font-weight: bold;
  font-size: x-small;
}
.infoTextMaj {
  color: aliceblue;
  font-size: x-small;
  text-align: right;
}
.contentRide {
  margin-right: 2vw !important;
}
.contentRide img {
  height: 2vh!important;
}
  }
  
  /* Styles pour les écrans d'ordinateur */
  /* @media (min-width: 769px) {
    body {
      font-size: 18px;
      background-color: white;
    }
  
    .container {
      padding: 20px;
    }
  
    .land-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  } */